body {
	background-color: whitesmoke;
	box-sizing: content-box;
}

button:hover {
	color: #ff5050;
}

input,
button {
	font-size: 1em;
	background-color: white;
	font-family: inherit;
	padding: 0.5em;
	border-radius: 4px;
	border: 1px solid hsl(0, 0%, 80%);
}

input:hover {
	outline: none;
	border: 1px solid hsl(0, 0%, 70%);
}

button:focus,
input:focus {
	outline: none;
	border: 1px solid #ff5050;
	box-shadow: 0px 0px 0px 1px #ff5050;
}

#app-root {
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 1em;
}

#title {
	font-size: 2em;
	margin-top: 0.5em;
	color: #ff5050;
	text-decoration: underline dotted #ff5050;
}

#header-spacer {
	flex: 1 1 auto;
	min-width: 1em;
}

#credentials-form {
	margin-top: 1em;
	display: flex;
	justify-content: flex-end;
	flex: 1 1 auto;
}
#credentials-form > button {
	width: auto;
}

#credentials-form > input {
	flex: 1 1 auto;
	max-width: 15em;
}

#pass-input {
	margin: 0 0.5em;
}

#active-bookmark-section-title {
	padding-bottom: 0.5em;
}

#new-bookmark {
	margin: 0 auto;
	padding: 1em;
	padding-bottom: 2em;
}

#new-bookmark-title {
	margin-right: 0.5em;
}

.bookmark {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	background-color: whitesmoke;
	padding: 0.5em;
	margin: 0.15em 1em;
	border-bottom: 1px dotted grey;
}

.contents-and-tags {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contents {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.2em;
}

.contents,
.tags {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.buttons > button {
	width: 4.5em;
	margin-left: 0.5em;
}

.bookmark:hover {
	/*box-shadow: .1em .1em .1em .1em lightgrey, -.1em -.1em .1em .1em white;
  border-bottom: 1px solid hsl(0.0%, 100%);*/
	background-color: #fafafa;
}

.bookmark .title {
	font-size: larger;
	margin-right: 0.5em;
}

.bookmark .url {
	margin-top: 0.25em;
}

.bookmark .url a {
	color: grey;
	text-decoration: unset;
}

.bookmark .url a:hover {
	color: #ff5050;
}

.bookmark .buttons {
	display: flex;
	margin: 0 0 0 auto;
	flex-direction: row;
	align-items: center;
}

#tags-container {
	margin: 0.5em 0;
}
/* TODO: better class names */
.tags {
	padding-top: 0.25em;
}

.tag {
	font-size: smaller;
	background-color: hsl(0, 0%, 90%);
	padding: 0.3em;
	margin: 0.1em;
	margin-right: 0.5em;
	border-radius: 0.25em;
}

.pitch {
	margin: 0.5em 1em;
	text-align: center;
	font-size: 1.125em;
	color: slategray;
}

a {
	color: #ff5050;
	text-decoration: unset;
}

a:hover {
	border-bottom: 1px dotted #ff5050;
}
